@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

* {
	font-family: 'Fjalla One',Arial;
}
h1 {
	color:white;
	background-color: rgb(37,43,61);
	text-align: center;
	margin:20px;
	border:3px solid blue;
	border-radius:10px;
}
h2 {
	color: rgb(54,76,40);
	text-align: center;
}

body {
	/*background-image: url(https://img.clipartfox.com/438c21ef06eba063be1ae5f462bde7cd_pphoto-black-and-white-view-black-and-white-space-pictures_435-580.jpeg); */
}

a:hover{
	color:white;
	padding:2px;
}
img{
	margin:10px;
	align-self: center;	
}
