tr:nth-child(even) {
    background: rgb(224,226,222);
}
tr:nth-child(1) {
    background: rgb(106,219,103);
}
*{
	font-family: 'PT Sans', Arial;
	margin:30px;
}
th{
	color: white;
	padding:10px;
	text-align: left;
}
td{
	padding:6px;
}
